;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[color]
;background = #FF332277
background = #00333333
transparent = #00000000
;background = #60000000
;background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #f8f8f2
;foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40
modulefg = #f7f7f7
modulefg-alt = #f7f7f7

;modules
cpu = #ee6666
memory = #66ee66
pulseaudio = #6666ee
temperature = #eeee66
temperature-warn = #e60053
date = #66eeee
battery = #ff8800
musiquinha = #111111
spotify = #66ee66

; Active Shade
shade1 = #282629
shade2 = #37474F
shade3 = #455A64
shade4 = #546E7A
shade5 = #607D8B
shade6 = #78909C
shade7 = #90A4AE
shade8 = #B0BEC5

white = #FFFFFF
black = #000000
red   = #ff0000
green = #00ff00
;tray-background = ${self.background}

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false
radius = 8.0
double_radius = -16
padding_right = 0

[global/wm]
margin-top = 0
margin-bottom = 10

[bar/barbase]
;width = ${env:width}
width = 95%
height = 25
offset-x = 2.5%
offset-y = 10
monitor = ${env:monitor}
fixed-center = true
bottom = false

background = ${color.background}
foreground = ${color.foreground}

radius = ${settings.radius}
;radius-top = 8.0
;radius-bottom = 8.0

line-size = 3
line-color = #f00

;padding = 2
;padding-left = 1
padding-right = ${settings.padding_right}

module-margin-left = 1
;module-margin-right = 1

;module-margin = 1

;font-0 = "SauceCodePro Nerd Font:size=11:weight=semibold;3"
font-0 = "JetBrainsMono NerdFont:size=11;3"
font-1 = "SauceCodePro Nerd Font:size=15:weight=semibold;3"
font-2 = "SauceCodePro Nerd Font:size=17:weight=semibold;3"

[bar/mainbar0]
inherit = bar/barbase
enable-ipc = true

modules-left = date filesystem battery wlan
modules-center = workspace0
modules-right = musiquinha cpu memory pulseaudio temperature

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template-same-icons.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar1]
inherit = bar/barbase
background = #BB333333
enable-ipc = true

modules-left = date
modules-center = workspace1
modules-right = musiquinha temperature

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template-same-icons.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3

[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

#####################################################################

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = "  "
format-prefix-foreground = ${color.black}
format-prefix-background = ${color.cpu}
format-suffix = " "
format-suffix-background = ${color.cpu}

format-underline = ${color.cpu}
format-overline = ${color.cpu}
label = " %percentage%% "

[module/memory]
type = internal/memory
interval = 2
format-prefix = "  "
format-prefix-background = ${color.memory}

format-suffix = " "
format-suffix-background = ${color.memory}

format-prefix-foreground = ${color.black}
format-overline =  ${color.memory}
format-underline = ${color.memory}
label = " %percentage_used%% "

[module/pulseaudio]
type = internal/pulseaudio

label-volume = " %percentage%% "
format-volume = <label-volume>
format-volume-overline  = ${color.pulseaudio}
format-volume-underline = ${color.pulseaudio}

format-volume-prefix = "  "
format-volume-prefix-background = ${color.pulseaudio}
format-volume-prefix-foreground = ${color.black}

format-volume-suffix = " "
format-volume-suffix-background = ${color.pulseaudio}

label-muted =  muted
label-muted-foreground = #888

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${color.foreground-alt}

[module/wlan]
type = internal/network
;interface = net1
interface-type = wireless
interval = 3.0

format-connected = <ramp-signal> <label-connected>
;format-connected-foreground = ${color.modulefg}
;format-connected-background = ${color.shade5}
;format-connected-underline = #9f78e1
label-connected = %essid%%{F-}
;label-connected = %essid%%{F-} %local_ip%

format-disconnected = "󰖪 "
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${color.foreground-alt}

ramp-signal-0 = %{F#ff0000}󰤟
ramp-signal-1 = %{F#ffff00}󰤢
ramp-signal-2 = %{F#00ff00}󰤨
ramp-signal-3 = %{F#8800ff}
ramp-signal-4 = %{F#aa00ff}
ramp-signal-foreground = ${color.foreground-alt}

[module/eth]
type = internal/network
;interface = enp0s31f6
interface-type = wired
interval = 3.0

;format-connected-underline = #55aa55
format-connected-prefix = "󰈁 "
format-connected-prefix-foreground = ${color.foreground-alt}
label-connected = %local_ip%

format-disconnected = "󱘖 "
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${color.foreground-alt}
;format-connected-background = ${color.shade5}
;format-connected-foreground = ${color.modulefg}

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 70

format-prefix = "  "
format-prefix-foreground = ${color.black}
format-prefix-background = ${color.temperature}
label = " %temperature-c% "
format = <label>
format-overline = ${color.temperature}
format-underline = ${color.temperature}
format-suffix = " "
format-suffix-background = ${color.temperature}

format-warn-prefix = "  "
format-warn-prefix-background = ${color.temperature-warn}
format-warn-prefix-foreground = ${color.black}
label-warn = " %temperature-c% "
label-warn-foreground = ${color.temperature-warn}
format-warn = <label-warn>
format-warn-overline = ${color.temperature-warn}
format-warn-underline = ${color.temperature-warn}
format-warn-suffix = " "
format-warn-suffix-background = ${color.temperature-warn}

[module/date]
type = internal/date
interval = 5
time = %H:%M
time-alt = %d/%m/%Y %H:%M
label = "%date% %time% "

format-overline = ${color.date}
format-underline = ${color.date}

format-prefix = " 󰥔 "
format-prefix-background = ${color.date}
format-prefix-foreground = ${color.black}
format-suffix = " "
format-suffix-background = ${color.date}

[module/quote]
type = custom/text
content = Follow the white rabbit. Knock. Knock. 
content-foreground = ${color.foreground}
content-background = ${color.background}
content-prefix = "  "
content-prefix-foreground = ${color.foreground}
;content-underline = ${color.foreground}

[module/break]
type = custom/text
content = |
content-padding = 0
content-foreground = ${color.foreground}
content-background =  ${color.background}

[module/filesystem]
type = internal/fs
mount-0 = /
fixed-values = true
warn-percentage = 75

format-mounted-prefix = " "
format-mounted-prefix-background = #00FF00
format-mounted-prefix-foreground = ${color.black}

label-mounted = "   %{F-}%percentage_used%% - %total% "
format-mounted = %{F#00FF00}<label-mounted>
format-mounted-overline = #00FF00
format-mounted-underline = #00FF00

format-mounted-suffix = " "
format-mounted-suffix-background = #00FF00

format-warn-prefix = " "
format-warn-prefix-background = #FF0000
format-warn-prefix-foreground = ${color.black}

label-warn = "   %{F-}%percentage_used%% - %total% "
format-warn = %{F#FF0000}<label-warn>
format-warn-overline = #FF0000
format-warn-underline = #FF0000

format-warn-suffix = " "
format-warn-suffix-background = #FF0000

[module/battery]
type = internal/battery
low-at = 10
battery = BAT1
adapter = ACAD
full-at = 99

format-charging-prefix = " "
format-charging-suffix = " "
format-charging = "%{U#2222ff}<animation-charging> <label-charging> %{-u}%{-o}%{U-}"
format-charging-prefix-background = #2222FF
format-charging-suffix-background = #2222FF

format-discharging = " <ramp-capacity>  <label-discharging> "
format-discharging-prefix = " "
format-discharging-suffix = " "
format-discharging-prefix-background = ${color.battery}
format-discharging-suffix-background = ${color.battery}
format-discharging-overline = ${color.battery}
format-discharging-underline = ${color.battery}

format-full-suffix = " "
format-full-prefix = " "
format-full = <label-full>

format-low-prefix = " "
format-low-suffix = " "
format-low = <label-low>

;charging
label-charging = %percentage%%
label-charging-foreground = #2222ff

animation-charging-0 = %{+o} 󰢟
animation-charging-1 = %{+u} 󰂇
animation-charging-2 = %{+o} 󰢝
animation-charging-3 = %{+u} 󰢞
animation-charging-4 = %{+u}%{+o} 󰂅
animation-charging-framrate = 50
animation-charging-foreground = #2222ff
;charging

;discharging
label-discharging = %percentage%%
ramp-capacity-0 = %{F#ff0000} %{F-}
ramp-capacity-1 = %{F#ff9900} %{F-}
ramp-capacity-2 = %{F#ffff00} %{F-}
ramp-capacity-3 = %{F#99ff00} %{F-}
ramp-capacity-4 = %{F#00ff00} %{F-}

;discharging

;full
label-full = " 󰁹 FULL "
label-full-foreground = #00ff00
label-full-overline = #00ff00
label-full-underline = #00ff00

format-full-prefix-background = #00ff00
format-full-suffix-background = #00ff00
;full

;low
label-low = " 󱃍 LOW "
label-low-foreground = #ff0000
label-low-overline = #ff0000
label-low-underline = #ff0000

format-low-prefix-background = #ff0000
format-low-suffix-background = #ff0000
;low


[module/musiquinha]
type = custom/ipc

hook-0 = $SCRIPTPATH/scripts/musiquinha/musiquinha.fish
hook-1 = $SCRIPTPATH/scripts/musiquinha/error.fish

format = "%{F-} <output> "
format-overline = ${color.musiquinha}
format-underline = ${color.musiquinha}
format-prefix = "%{A1:spotify:}  %{A}"
format-prefix-background = ${color.musiquinha}
format-prefix-foreground = ${color.spotify}
format-suffix = " "
format-suffix-background = ${color.musiquinha}

initial = 1
